/*de algemene styling*/
*{
    margin: 10px;
    padding: 15px;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-image: url("Images/mossy stone BG.jpg");
}
/*de styling voor main van de page*/
.Main{
    background: rgb(51, 48, 48);
    color: white;
    /*display: flex;
    flex-direction: column;*/ /*dacht om dit in tot een flexbox te maken. reden: heb geen behalve dat dit correct voel voor een of andere reden*/
    position: relative;
}
.Main h1{
    background: navy;
}
.Main img{
    gap: 20px;
    max-width: 500px;
    /*max-height: 30vw;*/
}

.Main p{
    background: green;
    font-size: 20;
}
/*linkspace is voor de navigatie stukken, gebruikt flexbox*/
.linkspace ol{
    display: flex;
    justify-content: center;
    list-style-type: none;
    width: 100%;
    flex-wrap: wrap;
    align-self: center;
    margin: 0px;
    padding: 0px;
    background: rebeccapurple;
    overflow: hidden;
    /*kosmatische border*/
    border: solid;
    border-width: 10px;
    border-color: black;
}
.linkspace li{
    float: left;
    padding: 0px;
    margin: 0px;
}
.linkspace li a{
    color: cyan;
    display: block;
    padding: 8px 16px;
    text-decoration: none; /*voor te verkomen dat lijntje als het verbonden is*/
    text-align: center;
    font-size: 25;
}
.linkspace li a:hover {
  background-color: violet;
  color: black;
}
/*layout is de gridbox voor de paginas dat deel teskt en afbeeldingen zijn */
.layout{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    justify-content: end;
}
/* een footer ook */
.footnote{
    background-color: crimson;
}
.footnote footer{
color: black;
}

@media screen and (max-width:800px) {
    #layout{grid-auto-flow: column
    };
    #main img{max-width: 150px};
};